#context-menu {
  padding-bottom: 5px;
  font-size: 1em !important;
  ul {
    border-color: $medium-grey !important;
    border-radius: 4px !important;
    padding: 0 !important;
  }
  li {
    border: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
    &:first-child {
      border-radius: 3px 3px 0 0 !important;
    }
    &:last-child {
      border-radius: 0 0 3px 3px !important;
    }
    a {
      position: relative;
      padding: 0.2em 0.2em 0.2em 2em;
      &.submenu {
        background-image: none !important;
        &:after {
          @extend .fa;
          @extend .fa-caret-right:before;
          float: right;
          margin-right: -10px;
        }
        + ul {
          margin-left: -1em;
        }
      }
      &:before {
        font-size: 1em;
        top: 0.3em;
        left: 0.4em;
        position: absolute;
      }
    }
  }
}

/* selected element */
.context-menu-selection {
  background-color: #507aaa !important;
  color: #f8f8f8 !important;
  a,
  a:hover {
    color: #f8f8f8 !important;
  }
  &:hover {
    background-color: #507aaa !important;
    color: #f8f8f8 !important;
  }
}
