/*
 * readmine_stealth
 */
a#stealth_toggle {
  @extend .fa-eye-slash;
}


/*
 * Issue templates
 */
.template_box {
  border-radius: 4px;
}

a.template {
  @extend .icon;
  @extend .fa-th-list;
  padding-left: 5px;
}

h2.template {
  background: none !important;
}

/*
 * Plugins from redminecrm.com
 */
#top-menu {
  a {
    &.contacts {
      @extend .fa-book;
    }
    &.invoices {
      @extend .fa-file-excel-o;
    }
    &.finance {
      @extend .fa-money;
    }
    &.people {
      @extend .fa-users;
    }
    &.products {
      @extend .fa-shopping-cart;
    }
    &.orders {
      @extend .fa-list-alt;
    }
    &.questions {
      @extend .fa-support;
    }
    &.cms {
      @extend .fa-sitemap;
    }
    &.tt_start:before,
    &.tt_stop:before {
      position: relative;
      top: 0;
    }
  }
  #account {
    &.cms {
      ul li {
        height: auto !important;
        img.gravatar {
          top: 0;
          margin-right: 5px;
        }
      }
    }
  }
}

#admin-menu {
  a {
    &.agile {
      @extend .fa-undo;
    }
    &.contacts {
      @extend .fa-book;
    }
    &.invoices {
      @extend .fa-file-excel-o;
    }
    &.finance {
      @extend .fa-money;
    }
    &.people {
      @extend .fa-users;
    }
    &.products {
      @extend .fa-shopping-cart;
    }
    &.orders {
      @extend .fa-list-alt;
    }
    &.cms {
      @extend .fa-sitemap;
    }
  }
}

.icon-contact {
  @extend .fa-book;
}
.icon-invoice {
  @extend .fa-file-excel-o;
}
.icon-phone {
  @extend .fa-phone;
}
.icon-email {
  @extend .fa-envelope;
}
.icon-linkedin {
  @extend .fa-linkedin;
}
.icon-merge {
  @extend .fa-level-up;
}

.tt_start {
  @extend .icon-start;
}
.tt_stop {
  @extend .icon-stop;
}

div.contact {
  border: 1px solid $medium-grey !important;
  background: $alternate-bg !important;
  border-radius: 4px !important;
}

div.person.details table.subject_header h1,
div.contact.details table.subject_header h1 {
  margin-top: -0.3em;
}

#invoice_contact_id_add_link {
  @extend .fa-plus-circle;
  &:before {
    @extend .fa;
    margin-left: 0.5em;
    font-size: 1.2em;
  }
  img {
    display: none !important;
  }
}

.icon-add.checklist-new-only {
  @extend a;
  cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    color: $dark-blue;
  }
}

div.agile-board.autoscroll {
  overflow-y: auto !important;
}

div.issue.invoice {
  div.subject,
  .author {
    padding-left: 0 !important;
  }
}

th.live_search {
  &:before {
    top: 1.1em;
    left: 1em;
  }
}

.live_search {
  position: relative;
  font-size: 0.7em;
  &.normal {
    font-size: 1em;
  }
}

input.live_search_field,
input.questions-search {
  @extend input.autocomplete;
}

input.questions-search {
  width: 100% !important;
  &.ajax-loading {
    background-position: 98% center !important;
  }
}

.controller-people.action-show,
.controller-contacts.action-show {
  #main {
    #sidebar {
      @include span-columns(4);
    }
    #content {
      @include span-columns(8);
      margin-right: 0 !important;
    }
  }
}

.jstEditor:not(.zen) {
  margin-bottom: 1em;
  textarea {
    width: 99%;
  }
  button.jstb_zenedit {
    top: -2em;
    right: 1%;
    font-size: 0.9em;
    width: 1.8em;
    height: 1.8em;
    border-radius: 4px;
    cursor: pointer;
    @extend .fa-arrows-alt;
    background: none;
    padding: 0;
    text-align: center;
    &:before {
      @extend .fa;
    }
  }
}
