.icon,
[class*="icon-"] {
  background-image: none !important;
  &:before {
    @extend .fa;
    margin-right: 5px;
    vertical-align: middle;
    position: relative;
    font-size: 1.2em;
    top: -2px;
  }
}

.icon-add,
.icon-add-payment {
  @extend .fa-plus-circle;
}
.icon-edit {
  @extend .fa-pencil;
}
.icon-copy {
  @extend .fa-copy;
}
.icon-duplicate {
  @extend .fa-clipboard;
}
.icon-del {
  @extend .fa-trash;
  &:hover {
    color: $red;
  }
}
.icon-move {
  @extend .fa-crosshairs;
}
.icon-save {
  @extend .fa-save;
}
.icon-cancel {
  @extend .fa-ban;
}
.icon-multiple {
  @extend .fa-plus-circle;
}
.icon-folder {
  @extend .fa-folder;
}
.open .icon-folder {
  @extend .fa-folder-open;
}
.icon-package {
  @extend .fa-cube;
}
.icon-history {
  @extend .fa-history;
}
.icon-time-add {
  @extend .fa-clock-o;
}
.icon-stats {
  @extend .fa-line-chart;
}
.icon-warning {
  @extend .fa-warning;
}
.icon-fav {
  @extend .fa-star;
}
.icon-fav-off {
  @extend .fa-star-o;
}
.icon-reload {
  @extend .fa-refresh;
}
.icon-lock {
  @extend .fa-lock;
}
.icon-unlock {
  @extend .fa-unlock;
}
.icon-checked {
  @extend .fa-check-square;
}
.icon-report {
  @extend .fa-pie-chart;
}
.icon-comment {
  @extend .fa-comment;
}
.icon-summary {
  @extend .fa-file-text;
}
.icon-details,
.icon-zoom-in {
  @extend .fa-search-plus;
}
.icon-zoom-out {
  @extend .fa-search-minus;
}
.icon-passwd {
  @extend .fa-asterisk;
}
.icon-test {
  @extend .fa-plus-circle;
}
.icon-projects {
  @extend .fa-cubes;
}
.icon-user {
  @extend .fa-user;
}
.icon-issue {
  @extend .fa-square;
}
.icon-help {
  @extend .fa-info-circle;
}
.icon-server-authentication {
  @extend .fa-key;
}
.icon-attachment {
  @extend .fa-paperclip;
}
.icon-time {
  @extend .fa-clock-o;
}
.icon-file {
  @extend .fa-file-o;
  &.text-plain {
    @extend .fa-file-text-o;
  }
  &.text-x-c {
    @extend .fa-file-code-o;
  }
  &.text-x-csharp {
    @extend .fa-file-code-o;
  }
  &.text-x-java {
    @extend .fa-file-code-o;
  }
  &.text-x-javascript {
    @extend .fa-file-code-o;
  }
  &.text-x-php {
    @extend .fa-file-code-o;
  }
  &.text-x-ruby {
    @extend .fa-file-code-o;
  }
  &.text-xml {
    @extend .fa-file-code-o;
  }
  &.text-css {
    @extend .fa-file-code-o;
  }
  &.text-html {
    @extend .fa-file-code-o;
  }
  &.application-pdf {
    @extend .fa-file-pdf-o;
  }
  &.image-gif,
  &.image-jpeg,
  &.image-png,
  &.image-tiff {
    @extend .fa-file-image-o;
  }
  &.application-zip,
  &.application-x-gzip,
  &.application-java-archive {
    @extend .fa-file-archive-o;
  }
}
.icon-pdf {
  @extend .fa-file-pdf-o;
}

.icon-start {
  @extend .fa-play;
}
.icon-stop {
  @extend .fa-stop;
}
