li.change {
  background-image: url(../images/bullet_black.png);
  &.folder {
    background-image: url(../images/folder_open.png);
    &.change-A {
      background-image: url(../images/folder_open_add.png);
    }
    &.change-M {
      background-image: url(../images/folder_open_orange.png);
    }
  }

  &.change-A {
    background-image: url(../images/bullet_add.png);
  }
  &.change-M {
    background-image: url(../images/bullet_orange.png);
  }
  &.change-C {
    background-image: url(../images/bullet_blue.png);
  }
  &.change-R {
    background-image: url(../images/bullet_purple.png);
  }
  &.change-D {
    background-image: url(../images/bullet_delete.png);
  }
}
