// Frameworks
@import 'bourbon/bourbon';
@import 'neat/neat';

// Variables
@import "variables";

// Extras
@import "jqueryui";
@import "select2";
@import "fa-icons";
@import "pace";

// Partials
@import "contextmenu";
@import "jstoolbar";
@import "redmine-icons";

/* Common */
body {
  color: $text;
  font-size: 13px;
  line-height: 1.2;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  height: 100%;
}

h2,
.wiki h1 {
  font-size: 1.5em;
}

h3,
.wiki h2 {
  font-size: 1.2em;
}

h4,
.wiki h3 {
  font-size: 0.9em;
}

h4 {
  border-bottom: 1px solid $medium-grey;
  padding-bottom: 1em;
}

a {
  color: $blue;
  text-decoration: none;
  font-size: 1em;
  &:hover,
  &:active,
  &:focus {
    color: $dark-blue;
  }
  &.issue.closed,
  &.issue.closed:link,
  &.issue.closed:visited {
    color: $grey;
    text-decoration: line-through;
  }
  &.collapsible {
    padding-left: 5px;
    @extend .icon;
    @extend .fa-minus-circle;
    &:before {
      min-width: 0.6em;
    }
    &.collapsed {
      @extend .fa-plus-circle;
    }
  }
}

#{$all-text-inputs},
#{$all-text-inputs-hover},
textarea,
textarea:hover,
select,
select:hover {
  padding: 0.3em;
  border-radius: 4px;
  border: 1px solid $medium-grey;
  @include transition-duration(0.3s);
  background: white;
  vertical-align: middle;
  max-width: 100%;
  text-align: left;
  font-size: 1em;
  &:disabled {
    background: $light-grey;
  }
}

#{$all-text-inputs-focus},
textarea:focus {
  border-color: $light-blue;
  box-shadow: 0px 1px 1px rgba(black, 0.075) inset, 0px 0px 8px rgba($light-blue, 0.6);
}

select {
  min-width: 6em;
  &:focus {
    box-shadow: 0px 1px 1px rgba(black, 0.075) inset, 0px 0px 8px rgba($grey, 0.6);
  }
}

#{$all-button-inputs},
.button {
  border: 1px solid $dark-blue-green;
  background: $blue-green;
  font-family: inherit;
  line-height: inherit;
  color: white;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-size: 1em;
  height: 34px;
  &:hover {
    background-color: $dark-blue-green;
  }
}

#issue-form input[type="submit"],
#message-form input[type="submit"],
#wiki_form input[type="submit"],
#news-form input[type="submit"],
#new_document input[type="submit"] {
  & + a {
    @extend .button;
    font-size: 1em;
    padding-top: 8px;
  }
  & + a + a {
    @extend .button;
    font-size: 1em;
    padding-top: 8px;
    color: #333;
    background-color: white;
    border-color: #ccc;
    &:hover {
      background-color: #e6e6e6;
      border-color: #adadad;
    }
  }
}

%submit,
input[type="submit"] {
  background-color: #446E9B;
  border-color: #3C6189;
  &:hover {
    background-color: #345578;
    border-color: #2A435F;
  }
}

/* Layout */

#wrapper {
  @include row;
  background: white;
  height: 100%;
  width: 100%;
  position: absolute;
}
#wrapper2 {
  min-height: 100%;
  position: relative;
  padding-bottom: 30px;
}

#top-menu {
  @include clearfix;
  @include row;
  background: $dark-blue;
  color: white;
  padding: 0 10px;
  cursor: default;
  position: relative;
  z-index: 99;
  height: 2em;
  ul.menu-children {
    width: 26em;
    top: 99%;
    border: 0;
    background: $dark-blue;
    border-radius: 0 0 4px 4px;
    padding: 0.5em 1em 0.6em;
    > li {
      @include span-columns(6);
      @include omega(2n);
      padding: 0;
      a {
        color: $grey-blue;
        padding: 0.4em;
        width: 95%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover,
        &:active,
        &:focus {
          color: white;
        }
        &:before {
          margin-right: 0.5em !important;
        }
      }
    }
  }
  li {
    float: left;
    list-style-type: none;
    white-space: nowrap;
    margin-right: 1em;
    padding: 0;
    &:last-child {
      margin-right: 0.2em;
    }
  }
  a {
    color: $grey-blue;
    font-size: 0.9em;
    padding-top: 0.5em;
    padding-bottom: 0.3em;
    @include transition-duration(0.3s);
    display: inline-block;
    &:hover,
    &:focus,
    &:active {
      color: white;
    }
    &:before {
      @extend .fa;
      margin-right: 5px;
    }
    &.my-page {
      @extend .fa-dashboard;
    }
    &.projects {
      @extend .fa-cubes;
    }
    &.administration {
      @extend .fa-gears;
    }
    &.calendar {
      @extend .fa-calendar;
    }
    &.gantt {
      @extend .fa-list;
    }
    &.issues {
      @extend .fa-tasks;
    }
    &.all-activities,
    .acitvities {
      @extend .fa-history;
    }
    &.help {
      @extend .fa-question-circle;
    }
    &.my-account {
      @extend .fa-user;
    }
    &.login {
      @extend .fa-sign-in;
    }
    &.logout {
      @extend .fa-sign-out;
    }
    &.time-tracker-main-menu {
      @extend .fa-clock-o;
    }
    &.adm-groups {
      @extend .fa-group;
    }
    &.adm-roles {
      @extend .fa-eye;
    }
    &.adm-workflows {
      @extend .fa-th-large;
    }
    &.adm-custom-fields {
      @extend .fa-edit;
    }
    &.adm-enumerations {
      @extend .fa-list;
    }
    &.adm-plugins {
      @extend .fa-puzzle-piece;
    }
    &.adm-projects {
      @extend .fa-cubes;
    }
    &.adm-users {
      @extend .fa-user;
    }
    &.adm-trackers {
      @extend .fa-square;
    }
    &.adm-issue-statuses {
      @extend .fa-pencil-square;
    }
    &.adm-settings {
      @extend .fa-gears;
    }
    &.adm-info {
      @extend .fa-info-circle;
    }
    &.adm-ldap-authentication {
      @extend .fa-key;
    }
  }
  #loggedas {
    float: right;
    margin-right: 1em;
    color: $grey-blue;
    font-size: 0.9em;
    a {
      font-size: 1em;
    }
  }
  #account {
    .menu-children {
      width: 18em;
    }
  }
  a.home {
    display: none;
  }
}

#header {
  @include clearfix;
  @include row;
  background: $blue;
  color: white;
  h1 {
    margin: 0;
    font-size: 1.5em;
    color: white;
    font-weight: 400;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: relative;
    padding-left: 3.8em;
    z-index: 0;
  }
  .home {
    display: block;
    width: 3em;
    height: 100%;
    border-right: 1px solid darken($blue, 7%);
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.2em;
    text-align: center;
    background-image: url("../images/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    &:hover,
    &:active {
      background-color: rgba($dark-blue, 0.5);
    }
  }
  #quick-search {
    position: relative;
    margin-right: 10px;
    top: 0.45em;
    z-index: 5;
    .icon-search {
      &:before {
        z-index: 5;
        position: absolute;
        left: 1.6em;
        top: 0.2em;
        color: $dark-blue;
      }
    }
    #q {
      margin-left: 1em;
      padding-left: 2em !important;
      border-color: rgba($dark-blue, 0.5);
      padding: 0.4em;
      width: 10em;
      background: rgba($dark-blue, 0.3);
      box-shadow: none !important;
      position: relative;
      z-index: 0;
      color: rgba(white, 0.8);
      &:active, &:focus {
        color: $text;
        background: white;
        width: 15em;
      }
    }
  }
  a,
  a:hover,
  a:active,
  a:focus {
    color: white;
  }
  .select2-container {
    margin-left: 1em;
    .select2-chosen {
      font-size: 0.9em;
      color: rgba(white, 0.8);
    }
    .select2-choice {
      background: rgba($dark-blue, 0.3);
      border-color: rgba($dark-blue, 0.5);
      box-shadow: none !important;
      height: 2.2em;
    }
    .select2-arrow {
      border-color: rgba($dark-blue, 0.5);
    }
  }
}

#main-menu {
  @include row;
  padding: 0 10px;
  background: $light-grey;
  cursor: default;
  box-shadow: inset 0 -1px 0 $medium-grey;
  ul {
    margin: 0;
    padding: 0 0 1px;
  }
  li {
    display: table-cell;
    width: 105px;
    a {
      display: block;
      color: $grey;
      margin: 0;
      padding: 12px 12px 10px 12px;
      white-space: nowrap;
      text-align: center;
      border-bottom: 3px solid $light-grey;
      &:hover {
        color: $medium-dark-blue;
        border-bottom: 3px solid $medium-dark-blue;
      }
      &.selected,
      &.selected:hover {
        color: $blue;
        border-bottom: 3px solid $blue;
      }
      &:active {
        color: $grey;
      }
    }
  }
}

#admin-menu {
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  a {
    background-repeat: no-repeat;
    background-position: 0.5em;
    margin-bottom: 0.2em;
    padding: 0.5em 0.5em 0.5em 2.5em !important;
    color: $grey;
    &:before {
      @extend .fa;
      margin-left: -2em;
      margin-right: 0.5em;
      width: 1.5em;
      text-align: center;
      position: relative;
      top: -1px;
    }
    &.groups {
      @extend .fa-group;
    }
    &.roles {
      @extend .fa-eye;
    }
    &.workflows {
      @extend .fa-th-large;
    }
    &.custom_fields {
      @extend .fa-edit;
    }
    &.enumerations {
      @extend .fa-list;
    }
    &.plugins {
      @extend .fa-puzzle-piece;
    }
    &.projects {
      @extend .fa-cubes;
    }
    &.users {
      @extend .fa-user;
    }
    &.trackers {
      @extend .fa-square;
    }
    &.issue_statuses {
      @extend .fa-pencil-square;
    }
    &.settings {
      @extend .fa-gears;
    }
    &.info {
      @extend .fa-info-circle;
    }
    &.server_authentication {
      @extend .fa-key;
    }
  }
}

#main {
  @include clearfix;
  padding: 0 20px 0 0;
  &.nosidebar {
    padding: 0 20px 10px;
  }
  #sidebar {
    float: left;
    width: 18%;
    margin-right: 30px;
    padding-left: 20px;
    position: relative;

    transition-duration: 0.5s;
    &.hidden {
      margin-left: -18%;
    }
    a#sidebar-toggle {
      position: absolute;
      top: 7px;
      right: -26px;
      font-size: 2em;
      border: 1px solid #ccc;
      padding: 0 4px;
      &:hover {
        background-color: $alternate-bg;
      }
    }

    padding-top: 1em;
    h3 {
      margin-top: 5px;
      color: $text;
      padding-bottom: 0.3em;
      text-indent: 0.2em;
      border-bottom: 1px solid $medium-grey;
      font-weight: 400;
    }
    hr {
      width: 100%;
      height: 1px;
      background: $medium-grey;
      border: 0;
      margin: 0 auto;
    }
    p > label {
      color: $grey;
      input {
        margin-right: 0.7em;
      }
    }
    .contextual {
      margin-right: 1em;
      float: right;
    }
    ul {
      list-style-type: none;
      padding: 0;
      li {
        input + label {
          max-width: 90%;
          display: inline-block;
        }
        label input {
          margin-right: 0.7em;
        }
      }
    }
    ul li,
    a[href$="agile/board"],
    a[href$="agile_versions"] {
      display: inline-block;
      width: 100%;
      border-radius: 4px;
      padding: 3px 0;
      color: $grey;
      margin-bottom: 0;
      &:hover {
        background: $light-grey;
      }
      &.selected {
        background: $blue;
        color: white;
      }
    }
    table {
      tr {
        background: none !important;
      }
    }
    .icon-time {
      font-size: 1.2em;
    }

    ul#completed-versions {
      margin-left: 1.5em;
      margin-top: -8px;
    }
  }
  #content {
    overflow: hidden;
    margin-right: 0;
    padding-top: 12px;
    z-index: 10;
    .contextual {
      float: right;
      margin-top: 5px;
      position: relative;
      + .breadcrumb {
        position: relative;
        top: 0;
        float: left;
        margin: 0.2em 1em 0 0;
        font-size: 1.1em;
      }
      a:before {
        margin-left: 1em;
      }
    }
    > .contextual {
      margin-bottom: 5px;
      input,
      select {
        margin-top: -4px;
      }
      input[type="submit"] {
        padding: 0 5px;
        height: 2em;
      }
    }
    > h2:first-of-type {
      font-weight: 400;
      border-bottom: 1px solid $medium-grey;
      margin: 0 0 0.8em;
      padding: 0 0 6px;
      .live_search {
        margin-left: 1em;
      }
    }
    form {
      .contextual {
        top: 0.4em;
        margin: 0;
        a:before {
          margin-left: 1em;
        }
      }
    }
    table h2 {
      margin: inherit !important;
      padding: 0 !important;
      border: 0 !important;
      font-weight: inherit !important;
    }
  }
}

#footer {
  @include row;
  border-top: 1px solid $medium-grey;
  font-size: 11px;
  color: $grey;
  text-align: center;
  padding: 5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 23px;
}

/* Admin index */

#admin-index {
  #admin-menu {
    li {
      border-radius: 4px;
      padding: 3px 0;
      a {
        width: 100%;
      }
      &:hover {
        background: $light-grey;
      }
    }
  }
}

/* Login */

#login-form {
  input#username,
  #login-form input#password {
    width: 20em;
  }
  table {
    margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  td {
    padding: 0.5em;
    text-align: right;
  }
  tr {
    background: none !important;
  }
  #username,
  #password,
  #openid_url {
    width: 100%;
  }
}

div.modal {
  border-radius: 4px;
  background: white;
  z-index: 50;
  p.buttons {
    text-align: right;
    margin-bottom: 0;
  }
}

input#openid_url {
  background: url(../images/openid-bg.gif) no-repeat;
  background-color: white;
  background-position: 4px 50%;
  padding-left: 24px;
}

.clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

table {
  text-align: left;
  color: $grey;
  border: 0;
  &.list {
    font-size: 12px;
    border: 0;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 0.5em;
    th {
      background: none;
      white-space: nowrap;
      padding: 0.5em;
      border-bottom: 1px solid $medium-grey;
      font-weight: bold;
      color: $text;
    }
    td {
      vertical-align: top;
      padding: 0.3em;
      border-bottom: 1px solid $light-grey;
      text-align: left;
      &.name {
        font-weight: 600;
      }
      &.id {
        width: 2%;
        text-align: center;
      }
      &.tick {
        width: 15%;
      }
      &.checkbox {
        width: 15px;
        padding: 2px 0 0;
      }
      &.buttons {
        width: 15%;
        white-space: nowrap;
        text-align: right;
      }
      &.buttons a {
        padding-right: 0.6em;
      }
      &.reorder {
        width: 15%;
        white-space: nowrap;
        text-align: center;
      }
      &.done_ratio {
        width: 5%;
      }
    }
    caption {
      text-align: left;
      padding: 0.5em 0.5em 0.5em 0;
    }
    small {
      font-size: 0.9em;
    }
  }
}

tr.issue td.done_ratio table.progress {
  margin-left: auto;
  margin-right: auto;
}

table.issues td.description {
  color: #777777;
  font-size: 90%;
  text-align: left;
  white-space: normal;
  padding: 4px 4px 4px 24px;
}

table.issue-report {
  table-layout: fixed;
}

tr.project {
  [id^="favorite_project"] {
    @extend .fa;
    @extend .fa-star;
    color: $orange;
    img {
      display: none !important;
    }
  }
}

tr.entry {
  border: 1px solid #f8f8f8;

  td {
    &.filename {
      width: 30%;
      text-align: left;
    }
    &.filename_no_report {
      width: 70%;
      text-align: left;
    }
    &.size {
      text-align: right;
      font-size: 90%;
    }
  }

  &.file td.filename a,
  &.file td.filename_no_report a {
    margin-left: 16px;
  }
}


tr span.expander {
  @extend .fa-plus-circle;
  cursor: pointer;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

tr.open span.expander {
  @extend .fa-minus-circle;
  cursor: pointer;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

tr.changeset {
  height: 20px;

  ul,
  ol {
    margin-top: 0;
    margin-bottom: 0;
  }

  td {
    &.revision_graph {
      width: 15%;
      background-color: #fffffb;
    }
    &.author,
    &.committed_on {
      text-align: center;
      width: 15%;
      white-space: nowrap;
    }
  }
}

table.files tr.file td.filename {
  text-align: left;
  padding-left: 24px;
}

table.members td.roles,
table.memberships td.roles {
  width: 45%;

  & > form > p {
    margin-top: 2px;
	margin-bottom: 5px;
  }
}

tr.message {
  height: 2.6em;

  td.last_message {
    font-size: 80%;
    white-space: nowrap;
  }

  &.locked td.subject {
    background: url(../images/locked.png) no-repeat 0 1px;
  }

  &.sticky td.subject {
    background: url(../images/bullet_go.png) no-repeat 0 1px;
    font-weight: 700;
  }
}


tr.version.shared td.name {
  @extend .icon;
  @extend .fa-share-alt;
  &:before {
    margin-left: -20px;
  }
}

tr.user td {
  width: 13%;
  white-space: nowrap;
}

tr.user td.email {
  width: 18%;
}

table.permissions td.role {
  color: #999999;
  font-size: 90%;
  font-weight: 400 !important;
  text-align: center;
  vertical-align: bottom;
}

tr.time-entry td.issue,
tr.time-entry td.comments {
  text-align: left;
  white-space: normal;
}

td.hours {
  text-align: right;
  font-weight: 700;
  padding-right: 0.5em;
}

table.plugins {
  td.name {
    font-weight: initial;
  }
  td.configure {
    text-align: right;
    padding-right: 1em;
  }

  span.name {
    font-weight: 700;
    display: block;
    margin-bottom: 6px;
  }
  span.description,
  span.url {
    display: block;
    font-size: 0.9em;
  }
}

a#check-for-updates {
  @extend .fa-refresh;
  &:before {
    @extend .fa;
    margin-right: 5px;
  }
}

table.list tbody {
  tr {
    &.group {
      td {
        font-weight: 700;
        border-bottom: 1px solid $medium-grey;
        text-align: left;
        padding: 0.8em 0 0.5em 0.3em;
      }

      span.count {
        position: relative;
        color: white;
        background: $green;
        border-radius: 4px;
        margin-left: 0.5em;
        padding: 0.2em 0.5em;
        font-size: 0.85em;
        display: inline-block;
      }

      a.toggle-all {
        font-weight: 400;
        display: none;
        margin-left: 0.5em;
        font-size: 0.85em;
      }

      &:hover {
        background-color: inherit;
      }
    }

    &:hover {
      background-color: #FFFAF1;
    }
  }
}

table td {
  padding: 4px;
}

table p {
  margin: 0;
}

.even {
  background-color: $alternate-bg;
}
.odd {
  background-color: #fff;
}

a.sort {
  &:after {
    @extend .fa;
    font-size: 1.2em;
    margin-left: 5px;
  }
  &.asc {
    &:after {
      @extend .fa-caret-up:before;
    }
  }

  &.desc {
    &:after {
      @extend .fa-caret-down:before;
    }
  }
}

table.attributes {
  th {
    vertical-align: top;
    text-align: left;
  }
  td {
    vertical-align: top;
  }
}

table.boards a.board,
h3.comments {
  @extend .fa-comments;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

table.boards td.last-message {
  text-align: left;
  font-size: 80%;
}

table.query-columns {
  border-collapse: collapse;
  border: 0;

  td.buttons {
    vertical-align: middle;
    text-align: center;

    input[type="button"] {
      width: 34px;
      padding: 0;
      margin: 1px 0;
    }
  }
}

h3.version {
  margin-top: 0;
  @extend .fa-cube;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

div.issues h3 {
  margin-top: 0;
  margin-bottom: 2px;
  @extend .fa-square;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

div.members h3 {
  margin-top: 0;
  @extend .fa-users;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

div.news h3 {
  margin-top: 0;
  @extend .fa-bullhorn;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

div.projects h3 {
  margin-top: 0;
  @extend .fa-cubes;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

#watchers {
  select {
    width: 95%;
    display: block;
  }

  a.delete {
    opacity: 0.4;
    vertical-align: middle;
    @extend .fa-trash;
    &:before {
      @extend .fa;
      margin-right: 0.5em;
      font-size: 1.2em;
    }
    img {
      display: none !important;
    }
  }

  img.gravatar {
    margin: 0 4px 2px 0;
  }

  ul.watchers {
    padding: 0 10px!important;
    a {
      width: auto!important;
    }
  }
}

a.delete:hover {
  color: $red;
}

span#watchers_inputs {
  overflow: auto;
  display: block;
}

span.search_for_watchers,
span.add_attachment {
  font-size: 0.9em;
  line-height: 2.5em;
}

span.search_for_watchers a,
span.add_attachment a {
  @extend .fa-plus-circle;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}

.highlight {
  background-color: #fcfd8d;
  &.token-1 {
    background-color: #ffaaaa;
  }
  &.token-2 {
    background-color: #aaffaa;
  }
  &.token-3 {
    background-color: #aaaaff;
  }
}

.box {
  display: inline-block;
  width: 100%;
  padding: 1em;
  background: $alternate-bg;
  border: 1px solid $medium-grey;
  border-radius: 4px;
  margin: 0 0 1em;
  > h4 {
    margin-top: 0;
  }
  fieldset:last-child {
    margin-bottom: 0;
  }
}

div.square {
  border: 1px solid #999999;
  float: left;
  overflow: hidden;
  width: 0.6em;
  height: 0.6em;
  margin: 0.3em 0.4em 0;
}

ul {
  padding-left: 2em;
  margin: 0 10px 10px 0;
}

.splitcontentleft {
  @include span-columns(6);
  float: left;
}

.splitcontentright {
  @include span-columns(6);
  float: right;
  margin-right: 0 !important;
}

input,
select {
  margin-top: 0;
  margin-bottom: 0;
}

fieldset,
fieldset.box {
  border: 0;
  padding-top: 2.5em;
  position: relative;
  background: none;
  margin-bottom: 1em;
  legend {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2em;
    width: 100%;
    border-bottom: 1px solid $medium-grey;
  }
}

hr {
  width: 100%;
  height: 1px;
  background: #cccccc;
  border: 0;
}

blockquote {
  font-style: italic;
  border-left: 3px solid #e0e0e0;
  padding-left: 0.6em;
  margin-left: 2.4em;
}

blockquote blockquote {
  margin-left: 0;
}

abbr {
  border-bottom: 1px dotted;
  cursor: help;
}

textarea.wiki-edit {
  width: 99% !important;
  resize: vertical;
  margin-bottom: 1em;
}

div.issue {
  background: $alternate-bg !important;
  margin-bottom: 1em;
  border: 1px solid $medium-grey;
  padding: 10px;
  border-radius: 4px;
  div.subject {
    padding-left: 0;
  }
  .author {
    margin: 0.3em 0 0;
    padding-left: 0;
  }
  .attributes {
    margin-top: 2em;
  }
  .contextual {
    top: 0 !important;
  }
  table.issues {
    tr:last-child td {
      border-bottom: 0 !important;
    }
  }

  div.subject {
    h3 {
      margin: 0 0 0.1em;
      padding-bottom: 5px;
      border-bottom: 1px solid #ccc;
    }
    p {
      font-size: 90%;
      margin: 0 0 0.3em;
    }
    div div {
      p, h3 {
        @extend .fa-caret-right;
        &:before {
          margin-right: 5px;
          @extend .fa;
        }
      }
    }
  }

  span.private {
    position: relative;
    bottom: 2px;
    text-transform: uppercase;
    background: #dd2222;
    color: white;
    font-weight: 700;
    font-size: 60%;
    margin-right: 2px;
    border-radius: 2px;
    padding: 0 2px;
  }

  table.attributes td {
    width: 28%;
  }

  img.gravatar {
    float: left;
    margin: 0 10px 0 0;
  }

  table img.gravatar {
    height: 1em;
    width: 1em;
    float: left;
    margin: 0 5px 0 0;
  }
}

p.breadcrumb {
  font-size: 0.9em;
  margin: 1em 0;
}

p.subtitle {
  font-size: 0.9em;
  font-style: italic;
  margin: -6px 0 12px;
}

p.footnote {
  font-size: 0.9em;
  margin-top: 0;
  margin-bottom: 0;
}


fieldset.collapsible {
  margin-bottom: 5px;
  > legend {
    @extend .fa-minus-circle;
    cursor: pointer;

    &:before {
      @extend .fa;
      margin-right: 0.5em;
      min-width: 0.6em;
    }
  }

  &.collapsed {
    padding-top: 1em;
    > legend {
      @extend .fa-plus-circle;
      border-bottom: none;
    }
  }
}

fieldset#date-range p {
  margin: 2px 0;
}

div#query_form_with_buttons {
  padding: 10px;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f5f5f5;

  .buttons {
    margin-bottom: 0;
  }
}

p.buttons {
  a {
    @extend .button;
    height: 27px;
    padding: 0px 14px;
    line-height: 2em;
    &.icon-checked {
      @extend %submit;
    }
  }
}

fieldset#filters  {
  table {
    border-collapse: collapse;
  }

  tr.filter {
    height: 2.1em;
  }

  td {
    vertical-align: middle;
    padding: 0;

    &.field {
      width: 230px;
    }
    &.operator {
      width: 180px;
    }
    &.operator select {
      max-width: 170px;
    }
    &.values {
      white-space: nowrap;

      select {
        min-width: 130px;
      }
    }
    &.add-filter {
      text-align: right;
      vertical-align: top;
    }
  }
}

table#filters-table {
  td.values span {
    vertical-align: middle;
  }
}

.toggle-multiselect {
  margin-left: 3px;
  cursor: pointer;
  @extend .fa;
  @extend .fa-plus-square;
}

.buttons {
  margin-bottom: 1.4em;
  margin-top: 5px;
  a:before {
    margin-right: 0.5em;
  }
}

div#issue-changesets {
  float: right;
  width: 45%;
  margin-left: 1em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  padding: 0;
  font-size: 90%;

  h3 {
    margin: 10px;
  }

  div.changeset {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 0;
  }

  p {
    margin-top: 0;
    margin-bottom: 1em;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

div#activity {
  dl{
    margin-left: 30px;
  }
  dt,
  .journal {
    clear: left;
  }
  dt {
    background-image: none !important;
    &.me .time {
      border-bottom: 1px solid $medium-grey;
    }
    .time {
      color: $grey;
      font-size: 80%;
      margin-right: 5px;
    }
    &.grouped {
      margin-left: 2.8em;
    }
    img.gravatar {
      float: left;
      margin: 0 1.2em 1.2em 0;
    }
  }
  dd {
    margin-bottom: 1em;
    padding-left: 2.8em;
    font-size: 0.9em;
    &.grouped {
      margin-left: 9em;
    }
  }

  + a {
    @extend .button;
    margin-top: 2em;
  }
}

#search-results {
  margin-left: 0;
  dt {
    background-image: none !important;
  }
  dd {
    margin-bottom: 1em;
    padding-left: 20px;
    margin-left: 0;
    font-size: 0.9em;
  }
}

div#activity dt,
#search-results dt {
  margin-bottom: 0;
  line-height: 18px;
  background-repeat: no-repeat;
}

div#activity span.project:after,
#search-results span.project:after {
  content: " -";
}

div#activity dd span.description,
#search-results dd span.description {
  display: block;
  color: $grey;
}

div#search-results-counts {
  ul {
    margin-top: 0.5em;
  }
  li {
    list-style-type: none;
    float: left;
    margin-left: 1em;
  }
}


dt {
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
  &.project {
    @extend .icon-projects;
  }
  &.issue {
    @extend .icon-issue;
  }
  &.issue-edit {
    @extend .fa-pencil-square;
  }
  &.changeset {
    @extend .fa-gears;
  }
  &.issue-note {
    @extend .fa-comment-o;
  }
  &.news {
    @extend .fa-newspaper-o;
  }
  &.message {
    @extend .fa-comment;
  }
  &.reply {
    @extend .fa-reply;
  }
  &.wiki-page {
    @extend .fa-pencil-square-o;
  }
  &.document {
    @extend .fa-file-o;
  }
  &.issue-closed,
  &.issue.closed {
    @extend .fa-ticket;
  }
  &.attachment {
    @extend .icon-attachment;
  }
  &.time-entry {
    @extend .icon-time;
  }
}

#activity dt.issue-note,
#activity dt.wiki-page {
}

div#roadmap .wiki h2 {
  font-size: 110%;
}

body.controller-versions.action-show div#roadmap .related-issues {
  width: 70%;
}

div#version-summary {
  float: right;
  width: 28%;
  margin-left: 16px;
  margin-bottom: 16px;
  background-color: white;
}

table#time-report {
  td.hours,
  th.period,
  th.total {
    text-align: right;
    padding-right: 0.5em;
  }
  tbody {
    tr.subtotal {
      font-style: italic;
      color: #777777;
      td.hours {
        color: #b0b0b0;
      }
    }
    tr.total {
      font-weight: 700;
      background-color: #eeeeee;
      border-top: 1px solid #e4e4e4;
    }
  }
}

div.wiki-page .contextual a {
  opacity: 0.4;
}

form .attributes select {
  width: 60%;
}

select#issue_done_ratio {
  width: 95px;
}

ul.projects {
  padding-left: 1em;
  margin: 0;
  ul {
    padding-left: 1.6em;
  }
}

#projects-index {
  ul.projects {
    ul.projects {
      border-left: 3px solid #e0e0e0;
      padding-left: 1em;
    }

    li.child {
      margin-top: 1em;
    }

    div.root a.project {
      font-weight: 700;
      font-size: 16px;
      margin: 0 0 10px;
    }
  }
}

.my-project {
  @extend .fa-star;
  color: $grey;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
    color: $orange;
  }
}

#notified-projects > ul,
#tracker_project_ids > ul,
#custom_field_project_ids > ul {
  max-height: 250px;
  overflow-y: auto;
}

ul.properties {
  font-size: 0.9em;
  color: #777777;
  padding: 0;
}

.total-hours {
  font-size: 110%;
  font-weight: 700;
}

.autoscroll {
  overflow-x: auto;
  margin-bottom: 1.2em;
  padding: 1px;
}

#workflow_form fieldset {
  padding-top: 1.2em !important;
}

#workflow_copy_form select {
  width: 200px;
}

table.transitions td.enabled {
  background: #bbffbb;
}

table.fields_permissions {
  select {
    font-size: 90%;
  }
  td {
    &.readonly {
      background: #dddddd;
    }
    &.required {
      background: #dd8888;
    }
  }
}

p.pagination {
  .page,
  .next,
  .previous,
  .spacer {
    position: relative;
    float: left;
    padding: 6px 14px;
    line-height: 1.42857;
    text-decoration: none;
    color: #FFF;
    background-color: $blue-green;
    border: 1px solid transparent;
    margin-left: -1px;
    margin-top: -0.5em;
  }
  .current,
  .page:hover,
  .next:hover,
  .previous:hover {
    z-index: 2;
    color: #fff;
    background-color: $dark-blue-green;
    border-color: transparent;
  }

  :first-child {
    margin-left: 0px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
  }
  :nth-last-child(3) {
    margin-right: 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
  }

  .items {
    margin-left: 1em;
  }
  .per-page {
    margin-left: 0.6em;
  }
}

.tabular {
  p {
    min-height: 1.8em;
	line-height: 1.8;
    clear: left;
    margin: 0;
    padding-left: 15em;
    margin-bottom: 7px;
    &.live_search {
      font-size: 1em;
      &:before {
        left: 15.6em;
        top: 0.3em;
      }
    }
  }
  span[title] {
    border-bottom: 1px dotted $light-grey;
  }
  label {
    font-weight: 600;
    float: left;
    text-align: right;
    margin-left: -15em;
    width: 14em;
    &.floating {
      font-weight: 400;
      margin-left: 0;
      margin-bottom: 2px;
      text-align: left;
      width: 18em;
    }
    &.block {
      font-weight: 400;
      margin-left: 0 !important;
      text-align: left;
      float: none;
      display: block;
      width: auto !important;
    }
    &.inline {
      font-weight: 400;
      float: none;
      margin-left: 0.5em !important;
      width: auto;
    }
  }
  &.settings {
    p {
      padding-left: 23em;
    }
    label {
      margin-left: -23em;
      width: 22.5em;
    }
  }
}

label.no-css {
  font-weight: inherit;
  float: none;
  text-align: left;
  margin-left: 0;
  width: auto;
}

#preview fieldset {
  margin-top: 1em;
  background: url(../images/draft.png);
}

span.required {
  color: #bb0000;
}

.check_box_group {
  display: block;
  width: 95%;
  max-height: 300px;
  overflow-y: auto;
  background: white;
  border: 1px solid #9eb1c2;
  border-radius: 2px;
  padding: 2px 4px 4px 2px;

  &.bool_cf {
    border: 0;
    background: inherit;
  }
  label {
    font-weight: 400;
    margin-left: 0 !important;
    text-align: left;
    float: none;
    display: block;
    width: auto;
  }
}

#attachments_fields {
  input.description {
    margin-left: 4px;
    width: 340px;
  }

  span {
    display: block;
    white-space: nowrap;
  }

  input.filename {
    border: 0;
    height: 1.8em;
    width: 250px;
    color: #555555;
    background-color: inherit;
    background: url(../images/attachment.png) no-repeat 1px 50%;
    padding-left: 18px;
  }

  .ajax-waiting input.filename {
    background: url(../images/hourglass.png) no-repeat 0 50%;
  }

  .ajax-loading input.filename {
    background: url(../images/loading.gif) no-repeat 0 50%;
  }

  div.ui-progressbar {
    width: 100px;
    height: 14px;
    display: inline-block;
    margin: 2px 0 -5px 8px;
  }
}

a.remove-upload {
  @extend .icon-del;
  margin-left: 5px;
  vertical-align: middle;
}

div.fileover {
  background-color: lavender;
}

div.attachments {
  margin-top: 12px;

  p {
    margin: 4px 0 2px;
  }
  span.author {
    font-size: 0.9em;
    color: #888888;
  }
}


div.thumbnails {
  margin-top: 0.6em;

  div {
    background: white;
    border: 2px solid #dddddd;
    display: inline-block;
    margin-right: 2px;
  }
  img {
    margin: 3px;
  }
}

p.other-formats {
  @include row;
  text-align: right;
  font-size: 0.9em;
  margin-top: 1em;

  a.atom,
  a.pdf {
    &:before {
      @extend .fa;
      font-size: 1.2em;
      margin-right: 5px;
      margin-top: -0.1em;
    }
  }
  a.atom {
    @extend .fa-rss-square;
  }
  a.pdf {
    @extend .fa-file-pdf-o;
  }
  span + span:before {
    content: "| ";
  }
}

em.info {
  font-style: normal;
  font-size: 90%;
  color: #888888;
  display: block;

  &.error {
    padding-left: 20px;
    background: url(../images/exclamation.png) no-repeat 0 50%;
  }
}

input.string_cf,
input.link_cf {
  width: 95%;
}

select.bool_cf {
  width: auto !important;
}

#tab-content-modules fieldset p {
  margin: 3px 0 4px;
}

#tab-content-members .splitcontentleft,
#tab-content-memberships .splitcontentleft,
#tab-content-users .splitcontentleft {
  @include span-columns(9);
}

#tab-content-members .splitcontentright,
#tab-content-memberships .splitcontentright,
#tab-content-users .splitcontentright {
  @include span-columns(3);
}

#tab-content-members fieldset,
#tab-content-memberships fieldset,
#tab-content-users fieldset {
  margin-bottom: 1em;
  padding: 1em;
}

#tab-content-members #principals,
#tab-content-users #principals {
  max-height: 400px;
  overflow: auto;
}

#users_for_watcher {
  height: 200px;
  overflow: auto;
}

table.members td.group {
  @extend .icon;
  @extend .fa-users;
}

span.icon-search {
  @extend .fa-search;
  position: relative;
  &:before {
    @extend .fa;
    position: absolute;
    top: 0.2em;
    left: 0.5em;
    color: $medium-grey;
    z-index: 5;
  }
}

input.autocomplete {
  padding-left: 2em !important;
  padding-right: 1.5em !important;
  font-size: inherit !important;
  @include transition-property(border, box-shadow);
  position: relative;
  height: auto !important;
  background: white !important;
  z-index: 0;
  background: #FFF url("../images/magnifier.png") no-repeat scroll 4px 50% !important;
  &.ajax-loading {
    background: url(../images/loading.gif) no-repeat 97% center !important;
  }
}

#errorExplanation,
div.flash,
.nodata,
.warning,
.conflict {
  margin: 0 0 10px;
  font-size: 1.1em;
  padding: 0.5em;
  border-radius: 4px;
  ul {
    margin: 0;
    padding-left: 1em;
  }
}

div.flash.error,
#errorExplanation {
  background: red;
  color: white;
}

div.flash.notice {
  background-color: #bae0ba;
  color: darken($green, 25%);
}

div.flash.warning,
.conflict {
  background-color: $orange;
  color: darken($orange, 25%);
  text-align: left;
}

.nodata,
.warning {
  text-align: center;
  background-color: $orange;
  color: darken($orange, 25%);
}

#ajax-indicator {
  position: absolute;
  background-color: #eeeeee;
  border: 1px solid #bbbbbb;
  top: 35%;
  left: 40%;
  width: 20%;
  font-weight: 700;
  text-align: center;
  z-index: 100;
  opacity: 0.5;
  padding: 0.6em;
}

html > body #ajax-indicator {
  position: fixed;
}

#ajax-indicator span {
  background-position: 0 40%;
  background-repeat: no-repeat;
  background-image: url(../images/loading.gif);
  padding-left: 26px;
  vertical-align: bottom;
}

table.cal {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #d7d7d7;
  margin: 0 0 6px;

  div.issue {
    padding: 10px!important;
  }
  thead th {
    width: 14%;
    background-color: #eeeeee;
    padding: 4px;
    &.week-number {
      width: auto;
    }
  }
  tbody tr {
    height: 100px;
  }

  td {
    border: 1px solid #d7d7d7;
    vertical-align: top;
    font-size: 0.9em;

    &.week-number {
      background-color: #eeeeee;
      border: none;
      font-size: 1em;
      padding: 4px;
    }
    &.odd p.day-num {
      color: #bbbbbb;
    }
    &.today {
      background: #D3F1FF!important;
      div.issue {
        border-color: #4293BA;
      }
    }
    p.day-num {
      font-size: 1.1em;
      text-align: right;
    }
  }
}

table.cal .starting a,
p.cal.legend .starting {
  @extend .fa-arrow-right;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
    color: $green;
  }
}

table.cal .ending a,
p.cal.legend .ending {
  @extend .fa-arrow-left;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
    color: $red;
  }
}

table.cal .starting.ending a,
p.cal.legend .starting.ending {
  @extend .fa-bullseye;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
    color: $red;
  }
}

.tooltip {
  position: relative;
  z-index: 24;

  &:hover {
    z-index: 25;
    color: black;
  }

  span.tip {
    display: none;
    text-align: left;
  }
}

div.tooltip:hover span.tip {
  display: block;
  position: absolute;
  top: 12px;
  left: 24px;
  width: 270px;
  border: 1px solid #555555;
  background-color: white;
  font-size: 0.8em;
  color: #505050;
  padding: 4px;
}

img.ui-datepicker-trigger {
  cursor: pointer;
  vertical-align: middle;
  margin-left: 4px;
}

table.progress {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  text-align: center;
  float: left;
  margin: 1px 6px 1px 0;

  td {
    border-bottom: none;
    &.closed {
      background: #019875 none repeat scroll 0;
    }
    &.done {
      background: #bae0ba none repeat scroll 0;
    }
    &.todo {
      background: #d0d0d0 none repeat scroll 0;
      border-left: 2px solid #dfdfdf;
    }
  }
}

p.progress-info {
  clear: left;
  font-size: 80%;
  margin-top: -4px;
  color: #777777;
}

#roadmap table.progress td {
  height: 1.2em;
}

#content .tabs {
  height: 3.6em;
  margin-bottom: 1.2em;
  position: relative;
  overflow: hidden;
  ul {
    position: absolute;
    bottom: 0;
    width: 2000px;
    border-bottom: 1px solid $medium-grey;
    margin: 0;
    padding: 0;
    li {
      float: left;
      list-style-type: none;
      white-space: nowrap;
      margin-right: 0.3em;
      background: white;
      position: relative;
      a {
        display: block;
        text-decoration: none;
        line-height: 1.3em;
        border: 1px solid $light-grey;
        border-bottom: 0;
        background-color: white;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding: 1em;
        color: $grey;
        font-size: 0.9em;
        &:hover {
          background-color: $light-grey;
          text-decoration: none;
        }
        &.selected {
          background-color: white;
          border-color: $medium-grey;
          box-shadow: 0 2px 0 white;
          font-weight: 600;
          color: $text;
        }
      }
    }
  }
}

div.tabs-buttons {
  position: absolute;
  right: 0;
  width: 3em;
  background: white;
  bottom: 0;
  border-bottom: 1px solid $medium-grey;
}

button {
  &.tab-left,
  &.tab-right {
    cursor: pointer;
    position: absolute;
    width: 1.5em;
    bottom: -1px;
    padding: 1em 0;
    text-align: center;
    border: 0 !important;
    color: $medium-grey;
    background: none !important;
    &:before {
      @extend .fa;
    }
  }
  &.tab-left {
    left: 0;
    @extend .fa-chevron-left;
  }
  &.tab-right {
    right: 0;
    @extend .fa-chevron-right;
  }
}

.diff_out {
  background: #ffcccc;
  span {
    background: #ffaaaa;
  }
}

.diff_in {
  background: #ccffcc;
  span {
    background: #aaffaa;
  }
}

.text-diff {
  background-color: #f6f6f6;
  color: #505050;
  border: 1px solid #e4e4e4;
  padding: 1em;
}

div.wiki {
  table {
    border-collapse: collapse;
    margin-bottom: 1em;
  }
  table,
  td,
  th {
    border: 1px solid #bbbbbb;
    padding: 4px;
  }

  .external {
    background-position: 0 60%;
    background-repeat: no-repeat;
    padding-left: 12px;
    background-image: url(../images/external.png);
  }

  a.new {
    color: #b73535;
  }

  pre {
    background-color: #fdfdfd;
    border: 1px solid #e2e2e2;
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 1em 1em 1em 1.6em;
    padding: 8px;
  }

  ul.toc {
    background-color: #ffffdd;
    border: 1px solid #e4e4e4;
    line-height: 1.2em;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-left: 0;
    display: table;
    padding: 4px;

    &.right {
      float: right;
      clear: right;
      margin-top: 8px;
      margin-left: 12px;
      margin-right: 0;
      width: auto;
    }
    &.left {
      float: left;
      margin-right: 12px;
      margin-left: 0;
      width: auto;
    }
    li {
      list-style-type: none;
      font-size: 12px;
      margin: 0;

      li {
        margin-left: 1.5em;
        font-size: 10px;
      }
    }
    a {
      font-size: 0.9em;
      font-weight: 400;
      text-decoration: none;
      color: #606060;

      &:hover {
        color: #c61a1a;
        text-decoration: underline;
      }
    }
  }

  img {
    vertical-align: middle;
    max-width: 100%;
  }
}

* html div.wiki ul.toc {
  width: 50%;
}

a.wiki-anchor {
  display: none;
  margin-left: 6px;
  text-decoration: none;
  &:hover {
    color: #aaaaaa !important;
    text-decoration: none;
  }
}

h1:hover a.wiki-anchor,
h2:hover a.wiki-anchor,
h3:hover a.wiki-anchor {
  display: inline;
  color: #dddddd;
}

.block-receiver {
  border: 2px dashed $medium-grey;
  margin-bottom: 2em;
  padding: 1em;
  border-radius: 4px;
}

.mypage-box {
  color: #505050;
  line-height: 1.5em;
  margin: 0 0 20px;
  border: 0 !important;
  border-radius: 4px;
  background: white;
  padding: 0.5em !important;
  margin: 0 0 1em !important;
}

.handle {
  cursor: move;
}

a.close-icon {
  display: block;
  @extend .fa-close;
  left: 1em;
  position: relative;
  &:before {
    @extend .fa;
  }
  &:hover {
    color: $red;
  }
}

.controller-gantts.action-show {
  table td {
    padding: 2px;
    box-sizing: content-box;
  }
}

.gantt_hdr {
  position: absolute;
  top: 0;
  height: 16px;
  border-top: 1px solid silver;
  border-bottom: 1px solid silver;
  border-right: 1px solid silver;
  text-align: center;
  overflow: hidden;
}

.gantt_hdr.nwday {
  background-color: #f1f1f1;
}

.gantt_subjects {
  font-size: 0.8em;
  div {
    line-height: 16px;
    height: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-left: 1em;
  }
}

.task {
  position: absolute;
  height: 8px;
  font-size: 0.8em;
  color: #888888;
  line-height: 16px;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  &.parent.marker {
    &.starting,
    &.ending {
      position: absolute;
      width: 8px;
      height: 16px;
      margin-left: -4px;
      top: -1px;
    }
    &.starting {
      background: url(../images/task_parent_end.png) no-repeat 0 0;
      left: 0;
    }
    &.ending {
      background: url(../images/task_parent_end.png) no-repeat 0 0;
      right: 0;
    }
  }
}

.task_late {
  background: #ff6666 url(../images/task_late.png);
  border: 1px solid #ff6666;
}

.task_done {
  background: #00c600 url(../images/task_done.png);
  border: 1px solid #00c600;
}

.task_late.parent,
.task_done.parent {
  height: 3px;
}

.task_todo {
  background: #aaaaaa url(../images/task_todo.png);
  border: 1px solid #aaaaaa;
  &.parent {
    background: #888888;
    border: 1px solid #888888;
    height: 3px;
  }
}

.version.marker {
  background-image: url(../images/version_marker.png);
  background-repeat: no-repeat;
  border: 0;
  margin-left: -4px;
  margin-top: 1px;
}

.project.marker {
  background-image: url(../images/project_marker.png);
  background-repeat: no-repeat;
  border: 0;
  margin-left: -4px;
  margin-top: 1px;
}

.version-behind-schedule a,
.issue-behind-schedule a {
  color: #f66914;
}


img.gravatar {
  background: white;
  vertical-align: middle;
  border-radius: 4px;
  overflow: hidden;
}

h2 img.gravatar {
  margin: -2px 4px -4px 0;
}

h3 img.gravatar {
  margin: -4px 4px -4px 0;
}

h4 img.gravatar {
  margin: -6px 4px -4px 0;
}

td.username img.gravatar {
  vertical-align: top;
  margin: 0 0.5em 0 0;
}

.icon-gravatar {
  float: left;
  margin-right: 4px;
}


.hascontextmenu {
  cursor: context-menu;
}

.ui-datepicker-title select {
  width: 70px !important;
  margin-top: -2px !important;
  margin-right: 4px !important;
}

.syntaxhl {
  .line-numbers {
    background-color: #eeeeee;
    margin: 0 5px 0 0;
    padding: 2px 4px;
  }
  .debug {
    color: white !important;
    background: blue !important;
  }
  .annotation {
    color: #000077;
  }
  .attribute-name {
    color: #bb4488;
  }
  .attribute-value {
    color: #770000;
  }
  .binary {
    color: #550099;
  }
  .char .delimiter {
    color: #771100;
  }
  .class-variable {
    color: #336699;
  }
  .color {
    color: #00aa00;
  }
  .complex {
    color: #aa0088;
  }
  .decorator {
    color: #bb00bb;
  }
  .definition {
    color: #009999;
    font-weight: 700;
  }
  .delimiter {
    color: black;
  }
  .directive {
    color: #008888;
    font-weight: 700;
  }
  .doc {
    color: #997700;
  }
  .doc-string {
    color: #dd4422;
    font-weight: 700;
  }
  .doctype {
    color: #3344bb;
  }
  .entity {
    color: #880000;
    font-weight: 700;
  }
  .error {
    color: red;
    background-color: #ffaaaa;
  }
  .escape {
    color: #666666;
  }
  .exception {
    color: #cc0000;
    font-weight: 700;
  }
  .function {
    color: #0066bb;
    font-weight: 700;
  }
  .global-variable {
    color: #dd7700;
  }
  .hex {
    color: #0022bb;
  }
  .include {
    color: #bb4444;
    font-weight: 700;
  }
  .inline {
    background-color: hsla(0, 0%, 0%, 0.07);
    color: black;
  }
  .inline-delimiter {
    font-weight: 700;
    color: #666666;
  }
  .instance-variable {
    color: #3333bb;
  }
  .key {
    color: #660066;
    .char {
      color: #6600ff;
    }
  }
  .keyword {
    color: #993399;
    font-weight: 700;
  }
  .label {
    color: #997700;
    font-weight: 700;
  }
  .local-variable {
    color: #996633;
  }
  .namespace {
    color: #770077;
    font-weight: 700;
  }
  .octal {
    color: #4400ee;
  }
  .predefined {
    color: #336699;
    font-weight: 700;
  }
  .predefined-constant {
    color: #006699;
  }
  .predefined-type {
    color: #00aa55;
    font-weight: 700;
  }
  .preprocessor {
    color: #557799;
  }
  .pseudo-class {
    color: #0000cc;
    font-weight: 700;
  }
  .regexp {
    background-color: hsla(300, 100%, 50%, 0.06);
    .content {
      color: #880088;
    }
    .modifier {
      color: #cc22cc;
    }
  }
  .reserved {
    color: #008800;
    font-weight: 700;
  }
  .shell {
    background-color: hsla(120, 100%, 50%, 0.06);
    .content {
      color: #22bb22;
    }
    .delimiter {
      color: #116611;
    }
  }
  .tag {
    color: #007700;
  }
  .type {
    color: #333399;
    font-weight: 700;
  }
  .value {
    color: #008888;
  }
  .variable {
    color: #003377;
  }
  .head {
    color: #ff88ff;
    background: #550055;
    .head {
      color: #ff44ff;
    }
    .filename {
      color: white;
    }
  }
  .change {
    color: #bbbbff;
    background: #000077;
    .change {
      color: #8888ff;
    }
  }
  .delete {
    background: hsla(0, 100%, 50%, 0.12);
    .eyecatcher {
      background-color: hsla(0, 100%, 50%, 0.2);
      border: 1px solid hsla(0, 100%, 45%, 0.5);
      border-bottom: none;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin: -1px;
    }
    .delete {
      color: #cc0000;
      background: transparent;
      font-weight: 700;
    }
  }
  .insert {
    background: hsla(120, 100%, 50%, 0.12);
    .eyecatcher {
      background-color: hsla(120, 100%, 50%, 0.2);
      border: 1px solid hsla(120, 100%, 25%, 0.5);
      border-top: none;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      margin: -1px;
    }
    .insert {
      color: #00cc00;
      background: transparent;
      font-weight: 700;
    }
  }
  .char .content,
  .char {
    color: #dd2200;
  }
  .class,
  .constant {
    color: #225588;
    font-weight: 700;
  }
  .comment,
  .comment .char,
  .comment .delimiter {
    color: #338855;
  }
  .float,
  .integer {
    color: #0066dd;
  }
  .key .delimiter,
  .regexp .delimiter {
    color: #440044;
  }
  .string {
    .char,
    .content,
    .delimiter,
    .modifier {
      color: #4466aa;
    }
  }
  .symbol .content,
  .symbol .delimiter,
  .symbol {
    color: #dd3333;
  }
}

.hidden-for-sighted {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

#top-menu ul,
#admin-menu ul,
#sidebar ul,
ul.projects.root,
div.wiki ul.toc ul {
  margin: 0;
  padding: 0;
}

#account,
#quick-search,
div#search-results-counts,
.journal-link {
  float: right;
}

#header h1 a.ancestor,
table.files tr.file td.digest,
.conflict-details,
p.percent {
  font-size: 80%;
}

* html #sidebar,
div.issue table.attributes th {
  width: 22%;
}

#main.nosidebar #sidebar,
div.modal h3.title,
#issue_tree td.checkbox,
#relations td.checkbox,
div#roadmap .related-issues td.checkbox,
div#roadmap .wiki h1:first-child,
#errorExplanation h2,
#errorExplanation p {
  display: none;
}

#login-form label,
.settings.enabled_scm td.scm_name,
#tab-content-members fieldset legend,
#tab-content-memberships fieldset legend,
#tab-content-users fieldset legend,
table.cal td.today p.day-num,
.task.label.project,
.task.label.version {
  font-weight: 700;
}

a img,
#issue_tree table.issues,
#relations table.issues,
div.wiki .noborder,
div.wiki .noborder td,
div.wiki .noborder th {
  border: 0;
}

a.project.closed,
a.project.closed:link,
a.project.closed:visited,
a.user.locked,
a.user.locked:link,
a.user.locked:visited,
a#toggle-completed-versions,
tr.version.closed,
tr.version.closed a,
div.issue .next-prev-links {
  color: #999999;
}

#sidebar a.selected:hover,
a.toggle-all:hover {
  text-decoration: none;
}

table.list td.checkbox input,
#relations td.buttons {
  padding: 0;
}

tr.project td.name a,
tr.issue td.relations span,
tr.entry td,
tr.message td.created_on {
  white-space: nowrap;
}

tr.project.closed,
tr.project.archived,
tr.project.closed a,
tr.project.archived a,
tr.user.locked,
tr.user.registered,
tr.user.locked a,
tr.user.registered a {
  color: #aaaaaa;
}

tr.project.idnt td.name span,
tr.issue.idnt td.subject a {
  @extend .fa-caret-right;
  &:before {
    @extend .fa;
    margin-right: 0.5em;
  }
}

tr.project.idnt-1 td.name,
tr.issue.idnt-1 td.subject {
  padding-left: 2em;
}

tr.project.idnt-2 td.name,
tr.issue.idnt-2 td.subject,
.role-visibility {
  padding-left: 3em;
}

tr.project.idnt-3 td.name,
tr.issue.idnt-3 td.subject {
  padding-left: 4em;
}

tr.project.idnt-4 td.name,
tr.issue.idnt-4 td.subject {
  padding-left: 5em;
}

tr.project.idnt-5 td.name,
tr.issue.idnt-5 td.subject {
  padding-left: 6em;
}

tr.project.idnt-6 td.name,
tr.issue.idnt-6 td.subject {
  padding-left: 7em;
}

tr.project.idnt-7 td.name,
tr.issue.idnt-7 td.subject {
  padding-left: 8em;
}

tr.project.idnt-8 td.name,
tr.issue.idnt-8 td.subject {
  padding-left: 9em;
}

tr.project.idnt-9 td.name,
tr.issue.idnt-9 td.subject {
  padding-left: 10em;
}

tr.issue,
tr.version td.date,
tr.version td.status,
tr.version td.sharing,
tr.time-entry {
  text-align: center;
  white-space: nowrap;
}

tr.issue td.subject,
tr.issue td.category,
tr.issue td.author,
tr.issue td.fixed_version,
td.assigned_to,
tr.issue td.string,
tr.issue td.text,
tr.issue td.relations,
table.issues td.description pre {
  white-space: normal;
}

tr.entry td.revision,
tr.entry td.author,
tr.wiki-page-version td.updated_on,
tr.wiki-page-version td.author,
td.center {
  text-align: center;
}

tr.entry td.age,
div#version-summary th,
div#version-summary td.total-hours {
  text-align: right;
}

tr.message td.subject,
tr.version td.name,
fieldset#notified_events .parent {
  padding-left: 26px;
}

td.hours .hours-dec,
.contextual input,
.contextual input:hover,
.contextual select,
.contextual select:hover,
table#time-report .hours-dec {
  font-size: 0.9em;
}

table.plugins td,
#related-issues li img,
div.attachments img,
h2 img {
  vertical-align: middle;
}

tr.group:hover a.toggle-all,
form,
.check_box_group.bool_cf label,
.syntaxhl div {
  display: inline;
}

table.attributes,
div#version-summary fieldset.time-tracking table,
.settings.enabled_scm table,
.task.label {
  width: 100%;
}

#watchers a.delete:hover,
div.wiki-page .contextual a:hover {
  opacity: 1;
}

span.search_for_watchers,
fieldset.settings label,
#tab-content-members fieldset label,
#tab-content-memberships fieldset label,
#tab-content-users fieldset label,
#users_for_watcher label,
p.cal.legend span {
  display: block;
}

.message .contextual,
li p {
  margin-top: 0;
}

.splitcontent,
div.journal,
.syntaxhl .code pre {
  overflow: auto;
}

div.journal {
  height: auto;
  margin-bottom: 15px;
  float: none;
  border: 1px solid #ccc;
  padding: 0;
  border-radius: 4px;
  background: #F9F9F9;
  position: relative;

  &.private-notes {
    border-color: #186797;
  }

  h4 {
    padding: 8px 10px;
    border: none;
    margin: 0;
    background: #eee;
  }

  ul.details {
    list-style-type: none;
    padding: 6px 10px;
    margin: 0;
    border-top: 1px solid #ccc;
    color: $grey;
    img {
      margin: 0 0 -3px 4px;
    }
  }

  &.has-notes .wiki {
    background: #fff;
    padding: 10px;
    margin: 0;
    border-top: 1px solid #ccc;

    p {
      margin: 0;
    }
  }
}

#main #content div.journal .contextual {
  bottom: 10px;
  position: absolute;
  right: 10px;
  float: none;
  top: initial!important;
}

table.progress td {
  height: 1em;
}

div#activity dd .description,
#search-results dd .description,
ul.properties li span,
.summary {
  font-style: italic;
}

div#roadmap .related-issues,
div#version-summary fieldset,
#projects-index ul.projects li.root,
div.wiki ul,
div.wiki ol {
  margin-bottom: 1em;
}

div#roadmap .wiki h1,
.total-hours span.hours-int {
  font-size: 120%;
}

input#issue_subject,
input#content_comments,
.tabular.settings textarea {
  width: 99%;
}

ul.projects li,
ul.properties li {
  list-style-type: none;
}

#user_login,
#user_firstname,
#user_lastname,
#user_mail,
#my_account_form select,
#user_form select,
#user_identity_url,
input#time_entry_comments,
#tab-content-memberships .splitcontentright select,
input#principal_search,
input#user_search {
  width: 90%;
}

textarea#custom_field_possible_values,
textarea#custom_field_default_value,
.tabular textarea,
textarea.text_cf {
  width: 95%;
  resize: vertical;
}

.version.task_late,
.project.task_late {
  background: #ff6666 url(../images/milestone_late.png);
  border: 1px solid #ff6666;
  height: 2px;
  margin-top: 3px;
}

.version.task_done,
.project.task_done {
  background: #00c600 url(../images/milestone_done.png);
  border: 1px solid #00c600;
  height: 2px;
  margin-top: 3px;
}

.version.task_todo,
.project.task_todo {
  background: white url(../images/milestone_todo.png);
  border: 1px solid white;
  height: 2px;
  margin-top: 3px;
}

.version-overdue a,
.issue-overdue a,
.project-overdue a,
.syntaxhl .imaginary {
  color: red;
}

#block-form {
  display: inline-block;
  margin-top: -0.5em;
}

#comments {
  h4 {
    border: 0;
    border-top: 1px solid $medium-grey;
    padding: 0;
    padding-top: 1em;
    &:first-of-type {
      border: 0;
    }
  }
  + p > a {
    @extend .button;
    margin-top: 2em;
  }
}

.add-link {
  a {
    @extend .button;
    margin-top: 2em;
  }
}

#tab-content-projects {
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    li {
      padding: 0.3em 0;
    }
  }
}

@media print {
  #main {
    background: white;
  }
  #content {
    width: 99%;
    border: 0;
    background: white;
    overflow: visible !important;
    margin: 0;
    padding: 0;
  }
  .autoscroll {
    overflow-x: visible;
  }
  table.list {
    margin-top: 0.5em;
  }
  table.list th,
  table.list td {
    border: 1px solid #aaaaaa;
  }
  #top-menu,
  #header,
  #main-menu,
  #sidebar,
  #footer,
  .contextual,
  .other-formats,
  #wiki_add_attachment,
  .hide-when-print {
    display: none;
  }
}

p,
div,
span {
  > code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    border: 1px solid rgba(255,0,0,.1);
  }
}

.ui-autocomplete {
  z-index: 1000;
}

.objects-selection {
  overflow-y: auto;
  max-height: 300px;
  margin-top: 5px;
}
.objects-selection label,
.roles-selection label {
  width: 18em;
  float: left;
}

// Import plugin specifics as last step so that definitions could override stuff here
@import "plugins";
